.padding {
  padding: 20px;
}

.notification {
  padding: 4rem;
  border: 2px;
}

.is-error {
  background-color: red;
}
.is-success {
  background-color: lightgreen;
}
.is-loading {
  background-color: lightskyblue;
}
